$open-sans: 'Open Sans', sans-serif;
$open-sans-light: 300;
$open-sans-regular: 400;
$open-sans-semibold: 600;
$open-sans-bold: 700;

$oswald: 'Oswald', sans-serif;
$oswald-light: 300;
$oswald-regular: 400;
$oswald-semibold: 600;
$oswald-bold: 700;


$tablet: 768px;
$desktop: 1024px;

$black: #0b0b0b;

$grey-light: #ccc;
$grey: #7e7e7e;
$grey-dark: #161616;

$red: #fc2032;
$red-even: #ed1123;

$yellow-light: #f1ebaf;

$white: #fff;
