$open-sans: 'Open Sans', sans-serif;
$open-sans-light: 300;
$open-sans-regular: 400;
$open-sans-semibold: 700;

$TradeGothic: 'TradeGothic', sans-serif;

$tablet: 768px;
$desktop: 1024px;


// Marvel color palette
$black: #000000;


$blue: #518cca;
$grey: #504a4a;
$red: #e23636;
$orange: #f78f3f;

$white: #fff;
